$enable-shadows: true;
$enable-rounded: true;

$body-bg: #f1f5f9;
$light: #fff;

$primary: #2263a5;
$secondary: #315272;
$info: #44ADDB;
$warning: #E0A47D;
$danger: #A84423;

$font-family-base: 'Open Sans';

$form-check-input-width: 1.5em;

@import "./custom.scss";
